.header {
  height: $header-height;
  @include flexCenter(space-between);
  .image {
    object-fit: contain;
  }
  button {
    @include button-params(
      $base-color,
      transparent,
      $base-color,
      $secondary-color,
      $base-color,
      $main-button-font
    );
  }
}

.header-right {
  @include flexCenter(flex-start);
  ul {
    @include flexCenter(flex-start);
    margin: 0 10px 0 10px;
    li {
      margin: 0 10px 0 10px;
    }
  }
}
