.header {
  height: $header-height;
  @include flexCenter(space-between);
  background-color: rgba(0, 0, 0, 0.397);
  .image {
    object-fit: contain;
  }
  button {
    @include secondary-button-params;
  }
}

.header-right {
  @include flexCenter(flex-start);
  ul {
    @include flexCenter(flex-start);
    margin: 0 10px 0 10px;
    li {
      margin: 0 10px 0 10px;
    }
  }
}
