.grid-items:nth-of-type(2) {
  overflow: scroll;
}

.games {
  margin: 0 0 $margin-home-page $margin-home-page;
  p {
    font-size: 1.5rem;
  }
}

.live-games-carousel {
  @include flexCenter(flex-start);
  position: relative;
}

.card-body {
  border-radius: 10px;
  margin: 0px 20px 0px 20px;
  width: calc(1488px / 4 - 40px);
  flex-shrink: 0;
}

.card-teams {
  border-radius: 10px 10px 0 0;
  //   background: linear-gradient(
  //     135deg,
  //     rgba(194, 31, 31, 1) 50%,
  //     rgba(0, 40, 152, 1) 50%
  //   );
  padding: 30px 50px 30px 50px;
  @include flexCenter(space-between);
  .card-team-name {
    text-align: center;
  }
  .card-score {
    @include flexCenter(center);
    h3 {
      margin: 0 5px 0 5px;
    }
  }
}

.card-live {
  @include flexCenter(flex-start);
  padding: 20px;
  background-color: $secondary-color;
  border-radius: 0 0 10px 10px;
  p:first-of-type {
    padding: 2px 7px 2px 7px;
    border-radius: 3px;
    max-width: fit-content;
    margin-right: 10px;
  }
}

.arrow {
  @include flexCenter(flex-start);
  background-color: $secondary-color;
  border-radius: 10px;
  height: 208.25px;
  position: absolute;
  left: 98%;
  cursor: pointer;
}
